var req = request['{{method}}'](domain + path);

// Type form
if(Object.keys(form).length > 0) {
    req.type('form')
}

// Type json
if(typeof(body) === 'object') {
    req.set('Content-Type', 'application/json');
}

if(body) {
    req.send(body);
}

if(queryParameters) {
    req.query(queryParameters);
}

if(headers) {
    req.set(headers);
}

req
.end(function(response){
    if (!response.error) {
        return deferred.reject(response.error);
    }

    if(response.status >= 200 && response.status <= 299) {
       deferred.resolve({
         response: response,
         body: response.body
        });
    } else {
       deferred.reject({
         response: response,
         body: response.body
        });
    }
});
